<div style="margin-bottom:-25px" class="button align-top">
    <form action="/">
        <button type="submit" style="font-size:10px;background-color:#5FCFEC;" name="back" value="clicked">
            <b>BACK</b>
        </button>
    </form>
</div>

{% extends 'base.html' %}

{% block title %} New Cat {% endblock %}

{% block content %}
    <h1 style="font-size:22px; margin-bottom:15px"> <b>New Cat Profile</b> </h1>

    <form method="POST">
        <div class="form-group" style="margin-bottom:25px">
                <label for="cat-name" style="font-size:13px">CAT'S NAME:</label>
                <input type="text" name="cat-name" class="form-control" id="cat-name" placeholder="Enter your cat's name">

                <label for="daily-food" style="font-size:13px">CAT'S DAILY FOOD INTAKE:</label>
                <input type="text" name="food-intake" class="form-control" id="daily-food" placeholder="Enter an amount (in cups)">

                <label for="max-food" style="font-size:13px">CAT'S MAX FOOD INTAKE:</label>
                <input type="text" name="max-intake" class="form-control" id="max-food" placeholder="Enter an amount (in cups)">
        </div>
    </form>
    <div class="button">
        <form action="/" method="GET">
            <button style="background-color:#5FCFEC; font-size:16px;" type="submit" name = "create_profile" value="clicked">
                <b>CREATE PROFILE</b>
            </button>
        </form>
    </div>

{% endblock %}