<div style="margin-bottom:-25px" class="button align-top">
    <form action="/">
        <button type="submit" style="font-size:10px;background-color:#5FCFEC;" name="back" value="clicked">
            <b>BACK</b>
        </button>
    </form>
</div>

{% extends 'base.html' %}

{% block title %} Feed {% endblock %}

{% block content %}
<form method="POST">
<div>
    <label for="pick_cat" style="font-size:18px;"><b>Select a cat to feed:</b></label>
    <select name="pick_cat" id="pick_cat">
        {% for cat in cat_names %}
            <option value="{{cat}}">{{cat}}</option>
        {% endfor %}
    </select>
</div>
<p>

</p>
<div>
    <label for="pick_amount" style="font-size:18px;"><b>Select an amount:</b></label>
    <select name="pick_amount" id="pick_amount">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="20">20</option>
    </select>
</div>
<p></p>
<div class="button">
    <button type="submit" style="font-size:20px;background-color:#5FCFEC;" name="feed" value="clicked">
        <b>DISPENSE FOOD</b>
    </button>
</div>
</form>

{% endblock %}