{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

<form action="/login" method="GET">
    <div class="button">
        <button type="submit" style="font-size:10px;" name="logout_button" value="clicked">
            <b>LOG OUT</b>
        </button>
    </div>
</form>

<div style="font-size:21px; color:#203354; font-family: Times New Roman; border:solid;
            background-color:#f79ac0; margin-top:15px; margin-bottom:30px">
    <img src="static/logo.png" alt="Logo" width="95" height="75">
    <b>CRAZY CAT CARETAKER</b>
</div>

<div style = "font-size:20px; font-family: Times new Roman; margin-bottom:15px"> INTERACT: </div>

<div class="button">
    <form method="GET" action="/feeding">
        <button style="background-color:#5FCFEC; font-size:16px;" type="submit" class="btn-block" name = "feeding_button" value="clicked">
            <b>FEED</b>
        </button>
    </form>
    <p>

    </p>
    <form method="GET" action="/playing">
        <button style="background-color:#5FCFEC; font-size:16px;" type="submit" class="btn-block" name = "playing_button" value="clicked">
            <b>PLAY</b>
        </button>
    </form>
</div>

<div style = "font-size:20px; font-family: Times new Roman; margin-top:40px; margin-bottom:15px">
    PICTURES:
</div>

<div style="border:solid; border-color:#203354; margin-bottom:40px">
    <div style="font-size:10px;">[area for camera pics]</div>
    <p>
        &nbsp;
    </p>
    <p>
        &nbsp;
    </p>
</div>

<!--Button to add a new cat profile-->
<div class="button">
    <form action="/add_cat" method="GET">
        <button style="background-color:#5FCFEC; font-size:16px;" type="submit" name = "add_cat" value="clicked">
            <b>Add Cat Profile</b>
        </button>
    </form>
</div>

<div style= "border:solid;" class="footer;">
    <footer>
        <table border="1" width="100%">
            <tr>
                <td style="background-color:#f79ac0;"> &nbsp; </td>
                <td style="background-color:#2f4d94;"> &nbsp; </td>
                <td style="background-color:#f0e580;"> &nbsp; </td>
                <td style="background-color:#5fcfec;"> &nbsp; </td>
            </tr>
        </table>
    </footer>
</div>

<style>
    .footer {align-text:bottom}
</style>

{% endblock %}