{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

<!--<div style = "font-size:20px; font-family: Times new Roman; margin-bottom:15px"> INTERACT: </div>-->

<div class="button">
    <form method="GET" action="/feeding">
        <button style="background-color:#5FCFEC; font-size:16px;" type="submit" class="btn-block" name = "feeding_button" value="clicked">
            <b>FEED</b>
        </button>
    </form>
    <p>

    </p>
    <form method="GET" action="/playing">
        <button style="background-color:#5FCFEC; font-size:16px;" type="submit" class="btn-block" name = "playing_button" value="clicked">
            <b>PLAY</b>
        </button>
    </form>
</div>

<div style = "font-size:20px; font-family: Times new Roman; margin-top:40px; margin-bottom:15px">
    INTERACTION HISTORY:
</div>

<style>
.scrollable-list {
  height: 200px;
  overflow-y: scroll;
}
</style>

<div class="container">
    <div  class="scrollable-list">
        <table class="table" style="max-height:5vh;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Message</th>
                  <th scope="col">Timestamp</th>
                </tr>
              </thead>
            <tbody>
            {% for note in notifications %}
                <tr>
                  <td>{{note.message}}</td>
                  <td>{{note.time}}</td>
                </tr>
            {% endfor %}
                <tr>
                  <td>
                      <form action="/clear_notifications" method="POST">
                        <button style="background-color:#5FCFEC; font-size:16px;" class="centered-button" type="submit" name = "view_profiles" value="clicked">
                            <b>Clear Notifications</b>
                        </button>
                      </form>
                  </td>
                </tr>
            </tbody>
        </table>
      </div>
</div>

<!--Button to view existing cat profiles-->
<!--<div class="button">-->
<!--    -->
<!--</div>-->

<!--Button to add a new cat profile-->
<div class="button;button-container">
    <form action="/view_profiles" method="GET">
        <button style="background-color:#5FCFEC; font-size:16px;" class="centered-button" type="submit" name = "view_profiles" value="clicked">
            <b>View Cat Profiles</b>
        </button>
    </form>
    <p>

    </p>
    <form action="/add_cat" method="GET">
        <button style="background-color:#5FCFEC; font-size:16px;" class="centered-button" type="submit" name = "add_cat" value="clicked">
            <b>Add Cat Profile</b>
        </button>
    </form>
</div>

<p>

</p>

<div style= "border:solid;" class="footer;">
    <footer>
        <table border="1" width="100%">
            <tr>
                <td style="background-color:#f79ac0;"> &nbsp; </td>
                <td style="background-color:#2f4d94;"> &nbsp; </td>
                <td style="background-color:#f0e580;"> &nbsp; </td>
                <td style="background-color:#5fcfec;"> &nbsp; </td>
            </tr>
        </table>
    </footer>
</div>

<style>
    .footer {align-text:bottom}
</style>

{% endblock %}