{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <h1 style="font-size:22px; margin-bottom:15px"> <b>LOGIN</b> </h1>
    <form method="POST">
        <div class="form-group" style="margin-bottom:25px">
                <label for="email" style="font-size:13px">EMAIL:</label>
                <input type="text" name="email" class="form-control" id="email" placeholder="Enter your email">

                <label for="password" style="font-size:13px">PASSWORD:</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
        <div class="button">
            <button style="background-color:#5FCFEC; font-size:16px;" type="submit" name = "button" value="login">
                <b>Submit</b>
            </button>
        </div>
    </form>

    <p>

    </p>
    <p>

    </p>
    <div class="button">
        <form action="/signup" method="GET">
            <button style="font-size:11px;" class="btn btn-block" type="submit" name = "signup" value="clicked">
                <b>Don't have an account? Click here</b>
            </button>
        </form>
    </div>
{% endblock %}